<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Alfred Cron</string>
	<key>ProgramArguments</key>
	<array>
		<string>REPLACE_ALFRED_CRONPATH</string>
		<string>start</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/Alfred Cron.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/Alfred Cron.out</string>
</dict>
</plist>
